:root{
   --cor-1: #404eed;
   --cor-2: #3946d4;
   --white: #fff;
   --background: #e2e3e9; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
}

a{
    color: var(--white);
    text-decoration: none; /*tira a linha debaixo do link*/
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-1);
    height: 4.6875rem;
    padding: 1rem; /* rem torna o site mais acessível, deixando a letra maior ou menor, de acordo com o tamanho padrão do dispositivo da pessoa (tamanho parão é de 16px) */
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu{
    list-style: none; /*tira as bolinhas da lista*/
    display: flex; /*coloca um do lado do outro*/
    gap: 0.5rem;
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu a:hover{
    background: var(--cor-2);
}

.label-menu, 
.checkbox{
    display: none;
}

@media (max-width: 600px){
    .menu{
        display: block;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background: var(--cor-1);
        text-align: center;
        width: 100%;
        height: 0 /*calc(100vh - 4.6875rem) serve para não ultrapassar o que deveria e ficar mais fácil de calcular*/ ;
        z-index: 1;
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden;
    }
    .menu a{
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16)/*dá opacidade*/;
        border-radius: 0;
    }
    .label-menu{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding-block: 1rem;
        cursor: pointer;
    }
    .hamburger{
        border-top: 0.125rem solid;
        width: 1.25rem;
    }
    .hamburger::before, 
    .hamburger::after{
        content: '';
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor /*cor herdada, é a cor já utilizada*/;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }
    .checkbox:checked ~ .menu{
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }
    .checkbox:checked ~ .label-menu .hamburger{
        border-top-color: transparent;
    }
    .checkbox:checked ~ .label-menu .hamburger::before{
        transform: rotate(135deg);
    }
    .checkbox:checked ~ .label-menu .hamburger::after{
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}



